.buttons {
    display: flex;
    width: 100vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #ffffff;
    margin: 20px;
    padding: 10px 20px;
    font-weight: 700;
    border: 3px solid #343a40;
    border-radius: 10px;
    color: #343a40;
}

.j-alert {
    position: absolute;
    display: none;
}